################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DotnetCallendar/FileContentIndex/03f5c0f2-da78-4402-a171-d01f9a722a57.vsidx
/.vs/DotnetCallendar/FileContentIndex/0c3cc913-8ba6-4ba9-af3b-5808c386b3d2.vsidx
/.vs/DotnetCallendar/FileContentIndex/7553759c-d1b8-4c35-8fc4-e3ad4a341530.vsidx
/.vs/DotnetCallendar/FileContentIndex/f90a43db-5d86-4935-9506-9dbc37dbe6ed.vsidx
/.vs/DotnetCallendar/v17/.suo
/.gitignore
/.vs/ProjectEvaluation/dotnetcallendar.projects.v7.bin
/.vs/ProjectEvaluation/dotnetcallendar.metadata.v7.bin
*.vsidx
/.gitignore
