@model DotnetCallendar.Models.Entidades.Evento

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="col-sm-2 col-form-label">COR</label>
                <div class="col-sm-10">
                    <select name="Cor" class="form-control" id="Cor">
                        <option value="">Selecione</option>
                        <option style="color:#FFD700;" value="#FFD700">Amarelo</option>
                        <option style="color:#0071c5;" value="#0071c5">Azul Turquesa</option>
                        <option style="color:#FF4500;" value="#FF4500">Laranja</option>
                        <option style="color:#8B4513;" value="#8B4513">Marrom</option>
                        <option style="color:#1C1C1C;" value="#1C1C1C">Preto</option>
                        <option style="color:#436EEE;" value="#436EEE">Royal Blue</option>
                        <option style="color:#A020F0;" value="#A020F0">Roxo</option>
                        <option style="color:#40E0D0;" value="#40E0D0">Turquesa</option>
                        <option style="color:#228B22;" value="#228B22">Verde</option>
                        <option style="color:#8B0000;" value="#8B0000">Vermelho</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
