@{
    ViewData["Title"] = "Agenda";
}

<style>
    .popper,
    .tooltip {
        position: absolute;
        z-index: 9999;
        background: #FFC107;
        color: black;
        width: 150px;
        border-radius: 3px;
        box-shadow: 0 0 2px rgba(0,0,0,0.5);
        padding: 10px;
        text-align: center;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var initialLocaleCode = 'pt-br';
        var localeSelectorEl = document.getElementById('locale-selector');

        var calendarEl = document.getElementById('agenda');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            height: 700, // Altura fixa em pixels

    <!-- Modal -->

@* 
    <div class="modal fade" id="visualizar" tabindex="-1" role="dialog" aria-labelledby="agendaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalhes do Evento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="visevent">
                        <dl class="row">
                            <dt class="col-sm-3">ID:</dt>
                            <dd class="col-sm-9" id="id"></dd>

            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'timeGridWeek, dayGridMonth, timeGridDay,year'
            },


            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'agendaWeek,month, agendaDay'
            },
            buttonText: {
                today: 'Hoje',
                month: 'Mês',
                week: 'Semana',
                day: 'Dia',
                list: 'Lista'
            },
            initialView: 'timeGridWeek',
            //defaultView: 'agendaWeek', // Defina a visualização padrão para a semana de agenda
            slotDuration: '00:15:00', // Define o intervalo de tempo para os slots (30 minutos)
            businessHours: {
                // Define as horas comerciais (08:00 às 18:00) de segunda a sexta-feira
                dow: [1, 2, 3, 4, 5], // dias da semana (1 = segunda-feira, 2 = terça-feira, etc.)
                start: '08:00', // hora de início das horas comerciais
                end: '08:00' // hora de término das horas comerciais
            },

            //events:'@Url.Action("ListaEventosJSON","Eventos")',

             events: @Html.Raw(ViewData["Events"]),
             resources: @Html.Raw(ViewData["Resources"]),


            dateClick: function (info) {
                alert('Click' + info.dateStr);

                console.log(info);
                console.log('clicked ' + info.dateStr);
            },

            select: function (info) {
                alert('selected ' + info.startStr + ' to ' + info.endStr);

                console.log(info);
                console.log('selected ' + info.startStr + ' to ' + info.endStr);
            }
           

            });



    calendar.render();


        });

</script>

<div class="text-center">
    <h2>Agenda</h2>


    @*  Calendar *@
    <div id='agenda'></div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" name="CadEvent" id="CadEvent" value="CadEvent" class="btn btn-success">Cadastrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
