@{
    ViewData["Title"] = "My Calendar";
}

<style>
    .popper,
    .tooltip {
        position: absolute;
        z-index: 9999;
        background: #FFC107;
        color: black;
        width: 150px;
        border-radius: 3px;
        box-shadow: 0 0 2px rgba(0,0,0,0.5);
        padding: 10px;
        text-align: center;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            
            // Traduzir para pt-BR
            // locale: 'pt-br',
            // timeZone: 'local',

            //

            locale: 'pt-br',
            timeFormat: 'HH:mm',
            editable: true,
            eventLimit: false,
            displayEventTime: this.displayEventTime,
            slotLabelFormat: 'HH:mm',
            allDayText: '24 horas',
            columnFormat: 'dddd',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listMonth'
            },
            buttonText: {
                today: 'Hoje',
                month: 'Mês',
                week: 'Semana',
                day: 'Hoje',
                list: 'Lista'
            },

            // 
            
            initialView: 'dayGridMonth',
            events: @Html.Raw(ViewData["Events"]),
            resources: @Html.Raw(ViewData["Resources"]),
            headerToolbar: {
                left: 'today,prev,next',
                center: 'title',
                right: 'timeGridWeek,dayGridMonth,listMonth,listWeek',
            },
            eventDidMount: function (info) {
                var tooltip = new Tooltip(info.el, {
                    title: info.event.extendedProps.description,
                    placement: 'top',
                    trigger: 'hover',
                    container: 'body'
                });
            },
            events: this.eventsCalendar
        });
        calendar.render();
    });

</script>

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Calendario</h1>
    <div id='calendar'></div>
</div>
